.idea/
__pycache__/
docs/build/
pyCamSet.egg-info/
pyCamSet/optimisation/template_functions/*
tests/test_data/*.camset
tests/test_data/**/detected_datapoints*.pickle
tests/test_data/cam_test_cache.pkl
